/*
Project Name: Blank Template
Client: Your Client
Author: Your Name
Developer @GA in NYC
*/


/******************************************
/* SETUP
/*******************************************/

/* Box Model Hack */
* {
     -moz-box-sizing: border-box; /* Firexfox */
     -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
     box-sizing: border-box; /* IE */
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
  clear: both;
}

.alignright {
  float: right;
  padding: 0 0 10px 10px; /* note the padding around a right floated image */
}

.alignleft {
  float: left;
  padding: 0 10px 10px 0; /* note the padding around a left floated image */
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
     color: #000;
     font-size: 12px;
     line-height: 1.4;
     font-family: Helvetica, Arial, sans-serif;
}


/******************************************
/* LAYOUT
/*******************************************/

/* Center the container */
#container {
  width: 100%;
  margin: auto;
  height: 500px;

}

header {
  background: url(../images/header_bg.jpg) no-repeat center top rgb(134,141,157);
  background-size: 100%;
  font: serif;
  color: white;
  margin: auto;
  width: 100%;
  height: 100%;
  text-align: center;

}


#h1 {
    font-size: 60px;
    font-style: bold;
    margin-bottom: 50px;
    margin-left: 45px;
    text-align: left; 

}

#h2 {
  font-size: 40px;
  text-align: center;
  margin-bottom: 70px;
}
#hbutton {
  background-color: yellow;
  padding-bottom: 10px;
  padding-top: 10px;
  padding-right: 40px; 
  padding-left: 40px;
  font-size: 30px;
  font-weight: bold;
  border-radius: 4px;
  color: darkblue;

}
#box1 {
    background-color: lightgrey;
    height: 500px;
    width: 100%;
    top: 0;
    right: 0;
    border: solid;
}
#headert {
  color: blue;
  font-size: 60px;
    font-style: bold;
    margin-bottom: 20px;
    padding-top: 90px;
    margin-left: 45px;
    text-align: left;    
}

#ptag {
  margin-left: 50px;
  width: 400px;
  font-size: 15px;

}

#box2 {
    background-color: darkblue;
    height: 200px;
    width: 200px;
    top: 0;
    left: 0;
}
#box3 {
    background-color: green;
    height: 100px;
    width: 100px;
    bottom: 0;
    left: 0;
}
#box4 {
    background-color: yellow;
    background-color: yellow;
    height: 100px;
    width: 100px;
    bottom: 0;
    right: 0;
}


footer {

}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/

ul {
  list-style-type: disc;
}


